body {background-color: #f0f0f0;
font-style: italic;
font-size: 27px;

}
.header{
text-align: center;
   /*max-width:1815px;*/
	position: fixed;
	top: 0px;
	margin: 0px;
	width: 100%;
	left: 0px;
	border-top: 2px solid #b5b7ba;
border-bottom: 2px solid #b5b7ba;
background: #dfdfdf;
padding: 20px;
font-family: arial;
font-weight: 800px;
font-style: normal;
font-size: 35px;
}
.header span {
    padding: 0 15px;
    }
.content{
	width: 671px;
	background-color: #ffffff;
    float: right;
    border: 3px solid black;
    padding: 49px 48px 51px 76px;
    margin-right: 50px;
}
.center{
	width: 700px;
	background-color: #ffffff;
    border: 1px solid black;
    padding: 49px 48px 51px 76px;
}

   
 

a{ color: black;
}
a:visited{color:black;}
h1{text-align: center;
font-size: 60px;
}
span img{margin-left: 100px;
	border-radius: 48%;}

input{
    background-color:#5ba1d3;
    color:  #ffffff;
    font-size: 25px;
    margin-top: 30px;
    padding:15px 51px;
}

.copy{ position: fixed;
width: 100%;
bottom: 0px;
left: 0;
padding: 30px;
border-top: 7px solid black;
border-bottom: 7px solid black;
background: #909090;
text-align: center;

}